body {
    background-color: #fff5e7;
}

colors{
    primaryLighter: #ff787d;
    primary: #BD2A2E;
    primaryDarker: #5a0101;
    primaryDarkest: #111928;
    secondary: #f2fcfc;
    secondaryDarker: #B2BEBF;
    track: #015a57;
    shadow: #a6afc366;
}