body {
    background-color: #fff5e7;
}

.event-highlights-section {
    border: 0;
    border-top: 1px dashed #eeeeee;
    border-bottom: 1px dashed #bfbfbf;
}

colors{
    primaryLighter: #ff787d;
    primary: #BD2A2E;
    primaryDarker: #5a0101;
    primaryDarkest: #111928;
    secondary: #f2fcfc;
    secondaryDarker: #525b5c;
    track: #015a57;
    shadow: #a6afc366;
}