{{ $input := . }}

{{/* Ensure a unique ID for each label on the page. */}}
{{- if not (page.Scratch.Get "social_links_instance") }}
    {{- page.Scratch.Set "social_links_instance" 0 }}
{{- end }}
{{- $labelId := (printf "social-links-list-label-%d" (page.Scratch.Get "social_links_instance")) }}
{{- page.Scratch.Add "social_links_instance" 1 }}


<label id="{{ $labelId }}" class="sr-only">{{ $input.ariaLabel }}</label>

<ul class="social-links" aria-labelledby="{{ $labelId }}">

    {{- if $input.xUrl }}
        <li class="social-links__menu-item">
            <a
                href="{{- $input.xUrl }}"
                aria-label="bsky"
                rel="external"
                class="social-links__link {{ $input.linkClass }}">
                {{- partial "graphics/social/bsky.html" }}
            </a>
        </li>
    {{ end }}
</ul>
