{{- define "main" }}
    {{- partial "sections/event-title.html"
        (dict
        "title" .Site.Params.themes.event.title
        "location" .Site.Params.themes.event.location
        "startDate" .Site.Params.themes.event.startDate
        "endDate" .Site.Params.themes.event.endDate
        "backgroundImage" .Site.Params.themes.event.images.titleBackground
        "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
        "ctaUrl" .Site.Params.themes.event.callToAction.other.url
        )
    }}

    {{ $eventStartDate := or .Site.Params.themes.event.startDate now | time }}
    {{ $eventEndDate := or .Site.Params.themes.event.endDate now | time }}
    {{ $dayInSeconds := 86400 }}
    {{ partial "sections/event-highlights.html" (
        dict
        "title" .Site.Params.themes.event.title
        "subtitle" .Site.Params.themes.event.slogan
        "description" .Site.Params.themes.event.description
        "logo" .Site.Params.themes.event.images.logo
        "numberOfSpeakers" ((where .Site.RegularPages "Section" "speakers") | len)
        "numberOfSessions" (where (where .Site.RegularPages "Section" "sessions") "Params.isServiceSession" false | len)
        "numberOfDays" (div (sub (add $eventEndDate.Unix $dayInSeconds) $eventStartDate.Unix) $dayInSeconds)
        "location" .Site.Params.themes.event.location )
    }}

    {{- with .Site.Menus.secondary }}
        {{- if gt (len .) 0 }}
            <div class="section-container section-container--dimmed">
                <div class="section section--long" role="complementary">
                    {{- partial "menus/secondary.html" (dict "menu" .) -}}
                </div>
            </div>
        {{- end }}
    {{- end }}

    {{ $workshopsByDay := sort .Site.Params.themes.event.workshops "date" "asc" }}
    {{ partial "sections/workshops.html" (
        dict
        "workshops" $workshopsByDay
        )
    }}
    
    {{- partial "sections/our-sponsors.html" (dict "sponsors" .Site.Params.themes.event.sponsors) -}}
{{- end }}
